
:root {
  --grid-max-width: 104rem;
}

// Each horizontal margin = 1/2 viewport width minus 1/2 content.
.grid {
  --margin-size: calc((100% - var(--grid-max-width)) / 2);

  margin-inline:
    max(var(--margin-size), var(--safe-left))
    max(var(--margin-size), var(--safe-right))
  ;
}
