$global-w: (
  'phone': 20em, // 320px
  'tablet-7': 37.5em, // 600px
  'tablet-10': 52.5em, // 840px
  'grid': 80em, // 1280px (1160 + 2 * x-space)
  'large-scale': 100em, // 1600px
);

@include --w($global-w);

:root {

  /* Colors */

  --black-h: #{$black-h};
  --black-s: #{$black-s};
  --black-l: #{$black-l};
  --black-a: #{$black-a};

  --white-h: #{$white-h};
  --white-s: #{$white-s};
  --white-l: #{$white-l};
  --white-a: #{$white-a};

  --red-h: #{$red-h};
  --red-s: #{$red-s};
  --red-l: #{$red-l};
  --red-a: #{$red-a};

  --primary-h: var(--black-h);
  --primary-s: var(--black-s);
  --primary-l: var(--black-l);
  --primary-a: var(--black-a);
  --primary: hsla(var(--primary-h), var(--primary-s), var(--primary-l), var(--primary-a));

  --bg-h: var(--white-h);
  --bg-s: var(--white-s);
  --bg-l: var(--white-l);
  --bg-a: var(--white-a);
  --bg: hsla(var(--bg-h), var(--bg-s), var(--bg-l), var(--bg-a));
  // --bg: hsla(0, 0%, 100%, 1);

  --accent-h: var(--red-h);
  --accent-s: var(--red-s);
  --accent-l: var(--red-l);
  --accent-a: var(--red-a);
  --accent: hsla(var(--accent-h), var(--accent-s), var(--accent-l), var(--accent-a));

  @media (--dark) {
    --primary-h: var(--white-h);
    --primary-s: var(--white-s);
    --primary-l: var(--white-l);
    --primary-a: var(--white-a);

    --bg-h: var(--black-h);
    --bg-s: var(--black-s);
    --bg-l: var(--black-l);
    --bg-a: var(--black-a);
  }

  /* Distances */

  --x-space: .5rem;
  @media (--phone) { --x-space: 2rem; }
  @media (--tablet-7) { --x-space: 4rem; }
  @media (--tablet-10) { --x-space: 6rem; }

  --safe-top: var(--safe-area-top);
  --safe-right: var(--safe-area-right, var(--x-space));
  --safe-bottom: var(--safe-area-bottom);
  --safe-left: var(--safe-area-left, var(--x-space));

  @supports (top: #{'max(0px)'}) {
    --safe-area-top: env(safe-area-inset-top, 0);
    --safe-area-right: max(env(safe-area-inset-right), var(--x-space));
    --safe-area-bottom: env(safe-area-inset-bottom, 0);
    --safe-area-left: max(env(safe-area-inset-left), var(--x-space));
  }

  --card-radius: .5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (--reduced-motion) {
    transition: .001s !important;
    animation: .001s !important;
  }
}

* {
  touch-action: manipulation;
}

::selection {
  background: v(accent);
  color: v(bg);
}

/* HTML & BODY */

html {
  size: 100% 100%;

  font: 400 46.875% / #{$body-lh} $body-font;
  @include font-smoothing(on);

  background: v(bg);
  color: v(primary);

  @media (--phone) {
    font-size: 62.5%;
  }

  @media (--large-scale) {
    font-size: calc(62.5% + .1vw);
  }
}

body {
  size: 100% 100%;
  min-height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-size: $body-size;

  @media (--phone) {
    overflow-x: hidden;
  }
}

/* LISTS */

ul,
ol {
  margin: 0;
  padding-left: 0;

  list-style-type: none;
}

dl,
dd {
  margin: 0;
}

/* QUOTES */

blockquote {
  margin: 0;
}

/* IMAGES */

// figure {
//   margin: 0;

//   font-size: 0;
// }

// img {
//   position: relative;
//   // z-index: 1;
//   display: block;
//   size: 100% auto;

//   &::selection {
//     background: v(accent);
//   }

//   // // Not loading images.
//   // &::after {
//   //   content: '\0274f' ' ' attr(alt);
//   //   position: absolute;
//   //   top: 0;
//   //   left: 0;
//   //   display: flex;
//   //   justify-content: center;
//   //   align-items: center;
//   //   size: 100% 100%;
//   //   padding: 0 1em;

//   //   color: $jumbo;
//   //   background: lighten($jumbo, 21%);

//   //   font-size: $body-size;
//   // }
// }

/* FORMS */

// fieldset {
//   margin: 0;
//   padding: 0;

//   border: none;
// }

// input {
//   padding: 0;

//   appearance: none;
//   border-radius: 0; // Safari iOS

//   line-height: inherit;

//   // Safari MacOS contact icon.
//   &::-webkit-contacts-auto-fill-button {
//     display: block !important;
//     transform: translate3d(100%, 0, 0);

//     background-color: v(accent);
//     opacity: 0;
//   }

//   &:focus,
//   &:hover {

//     &::-webkit-contacts-auto-fill-button {
//       display: block !important;
//       opacity: 1;
//       transform: translate3d(0, 0, 0);

//       transition: .65s $in-out-circ .05s;
//       transition-property: opacity, transform;

//       &:hover {
//         transform: translate3d(0, 0, 0) scale(1.1);

//         transition-duration: .4s;
//         transition-delay: 0;
//       }
//     }
//   }
// }

// select {
//   padding-left: 0;
//   padding-right: 0;
// }

// option {
//   padding-block-start: 0;
//   padding-inline-start: 0;
//   padding-block-end: 0;
//   padding-inline-end: 0;
// }

// input,
// select {

//   // Autofill colors hack
//   &:-webkit-autofill {
//     -webkit-text-fill-color: v(primary);
//     background-color: transparent;
//     box-shadow: 0 0 0px 100px transparent inset;
//     transition: background-color 500000s ease-in-out 500000s;

//     &::selection {
//       -webkit-text-fill-color: v(accent);
//     }
//   }
// }

// input,
// button {
//   background: transparent;
//   border: none;
//   color: v(primary);

//   font-weight: 500;

//   &:focus {
//     outline: none;
//   }
// }

// textarea {
//   resize: none;
// }

// button {
//   padding: 0;

//   cursor: pointer;
//   user-select: none;
//   -webkit-touch-callout: none;

//   color: v(primary);

//   * { pointer-events: none; }
// }

/* ABBREVIATIONS */

abbr[title] {
  &:not(:hover) {
    @media (--phone) {
      border: none;
      text-decoration: none;
    }
  }
}

/* ADDRESS */

address {
  font-style: normal;
}

/* LINKS */

a {
  color: v(primary);

  // transition: color .15s $in-out-quad;

  // @media (--phone) {
  //   text-decoration: none;
  // }

  // &:focus,
  // &:hover {
  //   color: v(accent);

  //   @include outline(v(accent), .1rem, dashed, .3rem);
  // }
}

/* TITLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  @media (--phone) {
    margin: 0;
  }

  em {
    font-style: normal;
  }
}

/* SVG */

svg {
  pointer-events: none;

  * { transform-origin: 50% 50%; }
}
