.header {
  @media (--phone) {
    padding-top: 2rem;
  }

  @media (--tablet-10) {
    padding-top: 3rem;
  }

  @media (--grid) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.canwe__logo {
  height: auto;

  @media (--tablet-7) {
    width: 15rem;
  }

  @media (--tablet-10) {
    width: 20rem;
  }
}

.baseline {
  @media (--phone) and (--before-grid) {
    padding-left: 1rem;
    border-left: .5rem solid var(--accent);
  }

  @media (--tablet-10) {
    font-size: 2rem;
  }

  @media (--grid) {
    position: relative;
    top: .7rem;
  }
}
