.caniemail {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(210, 100%, 52%);
  --site-accent: hsl(0, 0%, 100%);
}

.canistop {
  --site-primary: hsl(0, 0%, 18%);
  --site-bg: hsl(0, 0%, 100%);
  --site-accent: hsl(224, 88%, 57%);
}

.caniuse {
  --site-primary: hsl(39, 53%, 89%);
  --site-bg: hsl(24, 100%, 43%);
  --site-accent: hsl(0, 0%, 100%);
}

.cssdb {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(93, 85%, 26%);
  --site-accent: hsl(0, 0%, 100%);
}

.edge-status {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(217, 45%, 25%);
  --site-accent: hsl(207, 100%, 65%);
}

.firefox-status {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-accent: hsl(0, 0%, 100%);

  // https://mozilla.design/firefox/color/
  background: linear-gradient(to right, hsl(21, 99%, 61%) 0%, hsl(349, 100%, 62%) 100%);
}

.mdn {
  --site-primary: hsl(0, 0%, 20%);
  --site-bg: hsl(198, 81%, 73%);
}

.webkit-status {
  --site-primary: hsla(0, 0%, 100%, .85);

  // https://webkit.org/wp-content/themes/webkit/images/webkit.svg
  background: linear-gradient(to bottom, hsl(198, 71%, 53%) 0%, hsl(211, 100%, 50%) 100%);
}

.whocanuse {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(270, 50%, 40%);
  --site-accent: hsl(0, 0%, 100%);
}
