@use '../abstract' as *;
@use '../variables' as *;

.site {
  position: relative;
  padding: 2rem;

  background: v(site-bg, v(primary));
  border-radius: v(card-radius);
  color: v(site-primary, v(bg));

  // Fix Chrome 80 visual glitch on hover.
  // https://github.com/meduzen/canwe/issues/17
  transform: scale(.999);

  transition: transform .65s $out-cubic;

  // Light theme shadow
  @media (--light) {
    box-shadow:
      hsl(0 0% 0% / .1) 0 .3rem .6rem 0,
      hsl(0 0% 0% / .08) 0 .1rem .3rem 0;
  }

  @media (--phone) {
    &:hover, &:focus-within {
      transform: scale(1.02);

      &::after {
        opacity: 1;
      }
    }
  }

  // Light theme shadow, visible on hover and focus

  &::after {
    @media (--light) {
      content: '';
      position: absolute;
      inset: 0;

      pointer-events: none;

      border-radius: v(card-radius);
      box-shadow:
        hsl(0 0% 0% / .2) 0 .3rem 1.6rem 0,
        hsl(0 0% 0% / .08) 0 .1rem .4rem 0;
      opacity: 0;

      transition: opacity .65s $out-cubic;
    }
  }
}

.site__inner {
  height: 100%;

  display: flex;
  flex-direction: column;
}
