@use '../abstract' as *;
@use '../variables' as *;

.site {
  position: relative;
  padding: 2rem;

  background: v(site-bg, v(primary));
  border-radius: v(card-radius);
  box-shadow: hsl(0 0% 0% / .1) 0 .1rem .6rem 0;
  color: v(site-primary, v(bg));

  // Fix Chrome 80 visual glitch on hover.
  // https://github.com/meduzen/canwe/issues/17
  // transform: scale(.999);

  transition: transform .3s $out-cubic;

  @media (--dark) {
    box-shadow: hsl(0 0% 0% / .3) 0 .1rem .6rem 0;
  }

  @media (--phone) {
    &:hover, &:focus-within {
      transform: translateY(-.3rem);

      &::after {
        opacity: 1;
      }
    }

    &:focus-within {
      .site__link::after {
        opacity: 1;
      }
    }
  }


  &::after {
    content: '';
    position: absolute;
    inset: 0;

    pointer-events: none;

    border-radius: v(card-radius);
    box-shadow: hsl(0 0% 0% / .05) 0 1rem 5rem 1rem;
    opacity: 0;

    transition: opacity .3s $out-cubic;

    @media (--dark) {
      box-shadow: hsl(0 0% 0% / .3) 0 .1rem .6rem 0;
    }
  }
}

.site__inner {
  height: 100%;

  display: flex;
  flex-direction: column;
}
