.site__links {
  margin-top: auto;

  @media (--phone) {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}

.site__secondary-links {
  position: relative;
  z-index: 1;

  align-items: stretch;
  gap: .25em;
}

.site__link {
  min-width: 2em;
  display: inline-flex;

  vertical-align: middle;
  text-decoration: none;

  color: v(site-accent, v(site-primary));
  opacity: .6;

  transition: opacity .3s $in-out-quad;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.site__link--main {
  flex: 0 1 auto;
  padding-bottom: .2rem;

  justify-content: flex-start;

  overflow-x: hidden;

  @media (--to-phone) {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
  }
}

.site__link__inner {
  position: relative;
  z-index: 1;

  overflow-x: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
  }
}
