.site__links {
  margin-top: auto;

  @media (--phone) {
    display: flex;
    justify-content: space-between;
  }
}

.site__secondary-links {
  position: relative;
  z-index: 1;
}

.site__link {
  display: inline-flex;

  vertical-align: middle;
  text-decoration: none;

  color: v(site-accent, v(site-primary));
  opacity: .6;

  transition: opacity .3s $in-out-quad;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.site__link--main {
  &::after {
    content: '';
    @include position(absolute, 0 0 0 0);
  }
}
