@font-face {
  font-family: 'Alata';
  src:
    local('Alata Regular'), local('Alata-Regular'),
    url('/fonts/alata/alata.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
