@font-face {
  font-family: 'Baloo';
  src:
    local('Baloo Regular'), local('Baloo-Regular'),
    url('/fonts/baloo/baloo.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
