$grid-max-width: 104rem;

// Each horizontal margin = 1/2 viewport width minus 1/2 content.
.grid {
  --margin-size: calc((100% - #{$grid-max-width}) / 2);

  margin-inline:
    unquote('max(var(--margin-size), var(--safe-left))')
    unquote('max(var(--margin-size), var(--safe-right))')
  ;
}
