.footer {
  --footer-padding-y: 3rem;
  padding-top: v(footer-padding-y);
  padding-bottom: v(footer-padding-y);

  @supports (top: #{'max(0px)'}) {
    padding-bottom: #{'max(var(--safe-bottom), var(--footer-padding-y))'};
  }

  @media (--large-scale) {
    --footer-padding-y: 6rem;

    text-align: center;
  }
}

.footer__item {
  @include all-but(last) {
    &::after {
      content: '•';
    }
  }
}
