.skip-link {
  margin: 0 auto;
  padding: 1.2em;

  white-space: nowrap;

  &:not(:focus):not(:active) {
    // negative margin + max-height 0 = prevent layout difference before focus
    margin-block-start: -3.8em; // block padding + line-height
    max-block-size: 0; // prevent layout vertical shift

    opacity: 0;
    transform: translateY(-100%);
  }

  &:focus {
    transition: opacity .3s $in-out-quad;
    transition-property: opacity, transform;

    // Dark theme uses the default focus ring, light tgeme uses a box shadow.
    @media (--light) {
      outline: none;
    }
  }

  // See previous comment.
  @media (--light) {
    border-radius: 0 0 v(card-radius) v(card-radius);
    box-shadow:
      hsl(0, 0%, 0%, .1) 0 .3rem .6rem 0,
      hsl(0, 0%, 0%, .08) 0 .1rem .3rem 0;
  }
}

.header {
  @media (--phone) {
    padding-top: 2rem;
  }

  @media (--tablet-10) {
    padding-top: 3rem;
  }

  @media (--grid) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.canwe__logo {
  height: auto;

  @media (--tablet-7) {
    width: 15rem;
  }

  @media (--tablet-10) {
    width: 20rem;
  }
}

.baseline {
  @media (--phone-to-grid) {
    padding-left: 1rem;
    border-left: .5rem solid v(accent);
  }

  @media (--tablet-10) {
    font-size: 2rem;
  }

  @media (--grid) {
    position: relative;
    top: .7rem;
  }
}
