.main {
  width: 100%;

  @media (--tablet-7) {
    padding-bottom: 3rem;
  }
}

.section {
  margin-top: 4rem;

  @media (--tablet-7) {
    margin-top: 7rem;
  }
}

.section__title {
  margin-bottom: 1em;
}
