@import 'header';
@import 'footer';

.main {
  width: 100%;
  padding-top: 4rem;

  @media (--tablet-7) {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
}

.sites {
  display: grid;
  grid-gap: 1rem;

  @media (--tablet-7) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: stretch;
  }

  @media (--tablet-10) {
    grid-gap: 2.8rem 3rem;
  }
}

.site {
  position: relative;
  padding: 2rem;

  background: v(site-bg, v(primary));
  // border: 0.2rem solid v(site-accent);
  border-radius: .5rem;
  box-shadow:
    hsl(0, 0%, 0%, .1) 0 .3rem .6rem 0,
    hsl(0, 0%, 0%, .08) 0 .1rem .3rem 0;
  color: v(site-primary, v(bg));

  transition: transform .65s $ease-out-cubic;

  @media (--phone) {
    &:hover, &:focus-within {
      transform: scale(1.02);

      &::after {
        opacity: 1;
      }
    }
  }

  @media (--tablet-7) {
    border-radius: .8rem;
  }

  @media (--tablet-10) {
    border-radius: 1.2rem;
  }

  &::after {
    content: '';
    @include position (absolute, 0 0 0 0);

    background: inherit;
    border-radius: .8rem;
    box-shadow:
      hsl(0, 0%, 0%, .2) 0 .3rem 1.6rem 0,
      hsl(0, 0%, 0%, .08) 0 .1rem .4rem 0;
    opacity: 0;

    transition: opacity .65s $ease-out-cubic;
  }
}

.site__inner {
  position: relative;
  z-index: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.site__title {
  font-family: 'Baloo';
  font-weight: 400;
  font-size: 2.6rem;

  color: v(site-accent, v(site-primary));

  @media (--tablet-10) {
    font-size: 3.3rem;
  }
}

.site__description {
  margin: 1rem 0 4rem;

  @media (--tablet-10) {
    margin-bottom: 7rem;

    font-size: 1.8rem;
  }
}

.site__links {
  margin-top: auto;

  @media (--phone) {
    display: flex;
    justify-content: space-between;
  }
}

.site__link {
  display: inline-flex;

  vertical-align: middle;
  text-decoration: none;

  color: v(site-accent, v(site-primary));
  opacity: .6;

  transition: opacity .3s $ease-in-out-quad;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.caniuse {
  --site-primary: hsl(39, 53%, 89%);
  --site-bg: hsl(24, 100%, 43%);
  --site-accent: hsl(0, 0%, 100%);
}

.caniemail {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(210, 100%, 52%);
  --site-accent: hsl(0, 0%, 100%);
}

.whocanuse {
  --site-primary: hsla(0, 0%, 100%, .85);
  --site-bg: hsl(270, 50%, 40%);
  --site-accent: hsl(0, 0%, 100%);
}

.canistop {
  --site-primary: hsl(0, 0%, 18%);
  --site-bg: hsl(0, 0%, 100%);
  --site-accent: hsl(224, 88%, 57%);
  --site-primary: hsl(0, 0%, 18%);
  --site-bg: hsl(0, 0%, 100%);
  --site-accent: hsl(224, 88%, 57%);
}
