.site__title {
  margin: .1em 0;

  font: 700 2.6rem / 1.2 'Baloo', system-ui;

  color: var(--site-accent, var(--site-primary));

  @media (--tablet-10) {
    font-size: 3.3rem;
  }
}

.site__description {
  margin: 1rem 0 4rem;

  @media (--tablet-10) {
    margin-bottom: 7rem;

    font-size: 1.8rem;
  }

  a {
    position: relative;
    z-index: 1;

    color: inherit;
  }
}
